<!DOCTYPE html>
<html>
<head>
  <title>Hackthon | <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//fonts.googleapis.com/css?family=Droid+Serif:400italic,400,700italic,700" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis,com/css?family=Josefin+Slab' rel ='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>
  	<body>            
	
	<% unless current_page? root_path %>
		
	<% end %>
	
	<div class="main">
		<div class="content">
	<%= yield %>
	</div>
 </body>
</html>
